html
  head
    include includes/header.pug
  body#lead-body
    include includes/structure.pug
      div.content
        .parent
          .row.leaderboard-outer
            .col-xs-12.col-md-6.col-md-offset-3.leaderboard
              .header Nodes Captured
              each data in allScores
                if data.highlight
                  .block.highlighted= data.score
                else
                  .block= data.score
          .row
            .col-xs-12.col-md-6.col-md-offset-3.button-row
              a.button(href='/') Back to Submissions
