html
  head
    include includes/header.pug
  body
    include includes/structure.pug
      .row.outer
        .col-md-6
          .banner
            img(src='./images/fff-logo.png')
        .col-md-6
          .login
            h2 Login to see your team's algorithm live!
            p You should be using the key sent to you in your email as the value for the key field.
            p If you have lost your key or haven't gotten one, ask your teammates our find one of the organizers so that they can find it for you.
            form(method='POST' action='/login')
                      div.form-group
                        label(for='email') Email: 
                        input#email.form-control(type='email', placeholder='' name='email')
                      div.form-group
                        label(for='key') Key: 
                        input#pw.form-control(type='password' name='key')
                      button.btn.btn-primary(type='submit') Log in!
      .row.sponsors
        .col-md-4.col-md-offset-2
          img(src='images/google.svg')
        .col-md-4
          img(src='images/harris.svg')
