html
  head
    title= title
    include includes/header.pug
  body
    include includes/nav.pug
    div.content.login
        h2 Login to see your team's algorithm live!
        p You should be using the key sent to you in your email as the value for the key field.
        p If you have lost your key or haven't gotten one, ask your teammates our find one of the organizers so that they can find it for you.
        form(method='POST' action='/login')
                  div.form-group
                    label(for='email') Email: 
                    input#email.form-control(type='email', placeholder='' name='email')
                  div.form-group
                    label(for='key') Key: 
                    input#pw.form-control(type='password' name='key')
                  button.btn.btn-primary(type='submit') Log in!
