html
  head
    include includes/header.pug
  body
    include includes/nav.pug
    div.content.rules
      h2 Rules for Awap 2018 Game 
      p The first rule of Awap 2018 is: You do not talk about Awap 2018.
      p The second rule of Awap 2018 is: You DO NOT TALK ABOUT Awap 2018!
