html
  head
    include includes/header.pug
  body
    div.signupContainer
      div.content.row
        .col-md-12.col-lg-5
          h2 Algorithms with a Purpose 2018
          p.intro Algorithms with a purpose is a annually student-run event held in Carnegie Mellon University. Algorithms with a Purpose(AWAP) has been going on for the last 3 years and this year is back to make students think about complex algorithms and have a great time. 
            | Teams of students try to design and implement algorithms that could be applied in real life situations.
          p.intro Below are the details for the competition.
          p.details 
            span.strong Date: 
            | 11:00AM Saturday, February 24th 2018.
          p.details 
            span.strong Location:  
            | GHC 4401(Rashid Auditorium), CMU
          div.schedule
            span.strong Schedule:
            p.details 11:00AM Team Keys Available
            p.details 12:00PM Competition Begins
            p.details 6:00PM Competition Ends
            p.details 6:00PM Dinner
            p.details 6:30PM Winners Announced
        .col-xs-12.col-lg-6
          iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSfD8QALMQE8dxhTbO5pabGnyP2UammBecRvvgqHvjfb7sXeNg/viewform?embedded=true', width='700', height='1600', frameborder='0', marginheight='0', marginwidth='0')

              
