html
  head
    include includes/header.pug
  body
    div.signupContainer
      div.content.row
        .col-md-12.col-lg-5
          div.mainLogo
            img(src="images/fff-logo.png", alt="Fast Food Frenzy")
          h2 Algorithms with a Purpose 2018
          p.intro Algorithms with a Purpose (AWAP) is a annually student-run event held at Carnegie Mellon University. AWAP aims to expose algorithms to programmers of all experiences in a fun game-like scenario. 
          p.intro In the past competitors developed algorithms to play Blokus, designed schedulers to deliver Tubers across San Franhattan, and even programmed swarms of bots to collect mineral in a Starcraft-like universe.
          p.intro This year, strap on your aprons and build your fast food empire!
          p.details 
            span.strong Date: 
            | 11:00AM Saturday, February 24th 2018.
          p.details 
            span.strong Location:  
            | GHC 4401(Rashid Auditorium), CMU
          div.schedule
            span.strong Schedule:
            p.details 11:00AM Team Keys Available
            p.details 12:00PM Competition Begins
            p.details 6:00PM Competition Ends
            p.details 6:00PM Dinner
            p.details 6:30PM Winners Announced
        .col-xs-12.col-lg-6
          iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSfD8QALMQE8dxhTbO5pabGnyP2UammBecRvvgqHvjfb7sXeNg/viewform?embedded=true', width='700', height='1600', frameborder='0', marginheight='0', marginwidth='0')

              
