html
  head
    script!= output
    link(rel="stylesheet" type="text/css" href="style/viz.css")
    include includes/header.pug
    include includes/visualization.pug
    //- include includes/nav.pug
    .fullText#intro-message Choose a game to visualize!
    .fullText#loading.hidden Loading game...
    #graph-container
      #edges
        
      #nodes
      #players
    .ui
      .ui-similar
        .ui-row.title Team Stats
        .ui-row
        .ui-row
        .ui-row
        .ui-row
      .ui-similar
        .ui-row.title Game Selection
        .ui-row
          if games
            .dropdown
              .label Current Game:
              select
                each val in Object.keys(games)
                  option= val
        .ui-row
          .dropdown.speed
            .label Speed:
            select
              option(value='2') 0.5x
              option(value='1' selected="selected") 1x
              option(value='.5') 2x
              option(value='.25') 4x
          button.button.run-animation Load
      .ui-similar
        .ui-row.title Playback Controls
        .ui-row
          input.progress(step="1" type="range" min="0" max="100" value="0")
          span.progress-counter
            |Turn:  
            span.change 0
            |  / 
            span.totalTurns 100
        .ui-row
          button.button.play Play
          button.button.pause Pause
          button.button.restart Restart

      .ui-similar
        .ui-row.title View Controls
        .ui-row
          button.button#zoom-reset Zoom Reset
          button.button#zoom-in Zoom +
          button.button#zoom-out Zoom -
        .ui-row
          button.button#toggle-numbers Toggle Numbers
    //- .ui-top-bar
    //-   .left-align
    //-   .right-align 
    //-     if games
    //-       .dropdown
    //-         .label Current Loaded Game:
    //-         select
    //-           each val in Object.keys(games)
    //-             option= val
    //-     else
    //-       div No submissions made.
    //-     button.button.run-animation Run
    //- .ui-bottom-bar
    //-   .left-align
    //-     button.button.play Play
    //-     button.button.pause Pause
    //-     button.button.restart Restart
    //-     input.progress(step="1" type="range" min="0" max="100" value="0")
    //-     span.progress-counter
    //-       |Turn:  
    //-       span.change 0
    //-       |  / 100
    //-   .right-align
    //-     button.button#zoom-reset Zoom Reset
    //-     button.button#zoom-in Zoom +
    //-     button.button#zoom-out Zoom -
    //-   .clear
  
