body{
  overflow: hidden;
}
.fullText{
  font-size:2em;
  width:100vw;
  padding-right:$ui-width;
  height:100vh;
  text-align:center;
  line-height:90vh;
  color:$color-ui-1;
  position:relative;
  z-index:99999;
  &.hidden{
    display:none;
  }
}
#graph-container{
  // border:2px solid $color-ui-1;
  margin:2rem;
  width:calc(calc(100vw - #{$ui-width}) - 4rem);
  height:calc(100vh - 4rem);
  display:inline-block;
  position:relative;
  left:calc(50% - 75vh);
  .test-block{
    margin-bottom:20px;
    width:50px;
    height:50px;
    background-color:$color-ui-2;
  }
  #nodes{
    width:100%;
    height:100%;
    top:-100%;
    position:relative;
    .node-container{
      position:absolute;
      top:0;
      left:0;
      // transform:rotate(45deg);
      // background-color:#CCC;
      background:url('./../images/base_circle.svg');
      background-repeat:no-repeat;
      background-position:0 12px;
      text-align:center;
      color:black;
      user-select: none;
      .node-inner{
        padding:2px 4px;
        border-radius:3px;
        top:20px;
        display:inline-block;
        border:2px solid #444;
        background-color:$color-bg;
        position:relative;
      }
      .owner-icon{
        width:36px;
        height:36px;
        position:absolute;
        top:-10px;
        left:6px;
        background:url('./../images/iconSlide.svg');
        background-repeat:no-repeat;
        background-size:180px 36px;
        background-position:0 0;
      }
      &.p1{
        border-color:purple;
      }
      &.p2{
        border-color:lime;
      }
      &.p3{
        border-color:turquoise;
      }
      &.p4{
        border-color:red;
      }
    }
  }
  #edges{
    position:relative;
    width:100%;
    height:100%;
    svg{
      position:absolute;
      // line{
      //   stroke-width:2px;
      //   stroke:#CCC;
      // }
    }
  }

}
