.outer{
  margin-top:200px;
}
.banner{
  img{
    width:100%;
    height:auto;
    display:block;
    margin:auto
  }
}
.login{
  margin-top:40px;
  p{
    line-height:1.2;
  }
}

.submission-outer{
  * {
    color:$color-ui-1;
  }
  margin:100px 0;
  border-radius:4px;
  // border:1px solid rgba(0,0,0,.2);
  box-shadow:0 2px 10px 0 rgba(0,0,0,.2);

  .title{
    margin-top:2rem;
    h3{
      font-size:24px;
      font-weight:600;
    }
  }


  .submit,
  .submissions {
    height:calc(100% - 200px);
    min-height:675px;
    .row{
      padding:1rem;
      padding-left:2rem;
    }
  }

  .options{
    padding:0!important;
    margin:1rem;
    margin-bottom:0;
    border:1px solid rgba(0,0,0,0.05);
    height:48px;
    .private,
    .competition,
    .public{
      text-align:center;
      height:100%;
      display:flex;
      align-items: center;
      &:hover{
        cursor:pointer;
      }
      &.selected{
        background-color:#555;
        h2 {
          color:white;
        }

      }
      h2{
        width:100%;
        display:block;
        text-align:center;
        font-size:18px;
      }
    }

  }
  .form-container{
    position:relative;
    .button{
      @include button;
    }
    .private-form,
    .competition-form,
    .public-form{
      // background-color:white;
      position:absolute;
      z-index:1;
      width:calc(100% - 3rem);
      padding:1rem 2rem 1rem 1rem;
      &:not(.selected){
        display:none;
      }
      .desc{
        margin-bottom:1rem;
      }
      .form-group{
        .dropdown{
          padding-left:0;
        }
        margin-top:1rem;
        &.submit-button{
          margin-top:2rem;
          text-align:center;
        }
        div{
          display:inline-block;
          padding:.75rem 1rem;
        }
      }
    }
  }
  .submit{
    position:relative;
    z-index:100;
    box-shadow: 3px 0px 0px 0px rgba(0,0,0,0.05);
  }
  .submissions{
    background-color:#eee;
    padding:1rem 2rem;
    position:relative;
    .title{
      margin-top:0;
      padding:1rem;
      text-align:left;
    }
    a{
      @include button;
    }
    & > div {
      position:absolute;
      text-align:center;
      width:calc(100% - 4rem);
      height:calc(100% - 2rem);
      z-index:1;
      &:not(.selected){
        display:none;
      }
    }
    .submission-container{
      padding:1rem 2rem;
      background-color:#eee;
      overflow: scroll;
      max-height:75%;
      .submission-block{
        text-align:left;
        background-color:white;
        box-shadow:0 2px 10px 0 rgba(0,0,0,.2);
        padding:1.5rem;
        margin-bottom:1rem;
      }
    }

  }
}
.leaderboard-outer{
  margin-top:120px;
  .leaderboard{
    border:1px solid #eee;
    padding:0;
    & > div{
      padding:1rem;
    }
    .header{
      background:#eee;
      font-size:22px;
      font-weight:600;
      text-align:center;
    }
    .block{
      text-align:center;
      font-size:18px;
      &.highlighted{
        background-color:#007bff;
        color:white;
      }
    }

  }
}
















@media (min-width: 768px){
  .container {
      width: 750px;
  }
}
@media (min-width: 992px){
  .container {
      width: 970px;
  }
}
@media (min-width: 1200px){
  .container {
      width: 1170px;
  }
}
